# visiual studio
.vs
CMakeSettings.json

# latex
doc/**/*.aux
doc/**/*.fdb_latexmk
doc/**/*.fls
doc/**/*.idx
doc/**/*.ilg
doc/**/*.ind
doc/**/*.log
doc/**/*.out
doc/**/*.toc
doc/**/*.lot
doc/**/*.todo

# output files
*.pdf
